<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<div class="row" layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <title>Quản lý khách hàng</title>
        <!-- Bootstrap CSS -->

    </head>

    <body>
    <div class="container mt-5">
        <!-- Tiêu đề -->
        <h1 class="text-center">Danh sách khách hàng</h1>

        <!-- Tìm kiếm khách hàng -->
        <div class="row mt-4 mb-3">
            <div class="col-md-6 offset-md-3">
                <form id="searchForm" class="d-flex">
                    <input type="text" name="keyword" class="form-control me-0" id="keyword"
                           placeholder="Tìm kiếm khách hàng theo tên hoặc email"
                           style="border: 2px solid #444444; border-radius: 0; height: 40px"/>

                    <button type="submit" class="search-btn"
                            style="background-color: #444444; color: white; border: none; padding: 10px; cursor: pointer; width: 40px; height: 40px; border-radius: 0;"
                            onmouseover="this.style.backgroundColor='#d8373e';"
                            onmouseout="this.style.backgroundColor='#444444';">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>

        <!-- Bảng thông tin khách hàng -->
        <table class="table table-bordered table-striped text-center" id="userTable">
            <thead class="table-custom-header">
            <tr>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle; " scope="col">STT</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle;" scope="col">Tên</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle;" scope="col">Email</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle;" scope="col">Số điện thoại</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle;" scope="col">Địa chỉ</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle;" scope="col">Thông tin chi tiết</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle;" scope="col">Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center" id="pagination">
                <!-- Nút phân trang sẽ được tạo động -->
            </ul>
        </nav>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            const token = localStorage.getItem('jwtToken');
            const pageSize = 10; // Số lượng mục mỗi trang
            let currentPage = 0; // Trang hiện tại

            function loadUser(page, keyword = "") {
                var url
                if (keyword === "")
                    url = `/api/users?page=${page}&size=${pageSize}`;
                else
                    url = `/api/users/search/${keyword}?page=${page}&size=${pageSize}`;
                if (token) {
                    $.ajax({
                        url: url,
                        type: 'GET',
                        headers: {
                            'Authorization': `Bearer ${token}`
                        },
                        success: function (response) {
                            console.log(response.content)
                            const {content: userList, totalPages} = response;
                            var tableBody = $('#userTable tbody');
                            const pagination = $('#pagination');

                            // Xóa dữ liệu cũ
                            tableBody.empty();
                            pagination.empty();
                            if (userList.length === 0) {
                                // Nếu không có dữ liệu, hiển thị dòng thông báo
                                tableBody.append('<tr><td colspan="8" class="text-center">Không có khách hàng nào!</td></tr>');
                            } else {
                                userList.forEach(function (user, index) {
                                    const row = `
                                <tr data-id="${user.userID}">
                                    <td>${index + 1}</td>
                                    <td>${user.name}</td>
                                    <td>${user.email}</td>
                                    <td>${user.phone != null ? user.phone : 'Chưa có'}</td>
                                    <td>${user.address != null ? user.address.commune + ', ' + user.address.district + ', ' + user.address.province + ', ' + user.address.country : 'Chưa có'}</td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <a href="/admin/customers/${user.userID}" class="btn btn-danger custom-hover">Chi tiết</a>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" disabled checked="${user.active}"/>
                                    </td>
                                </tr> `;
                                    tableBody.append(row);
                                });
                            }
                            // Tạo nút phân trang
                            const prevButton = `<li class="page-item ${page === 0 ? 'disabled' : ''}">
                                    <a class="page-link" href="#">« Previous</a>
                                    </li>`;

                            const nextButton = `<li class="page-item ${page === totalPages - 1 ? 'disabled' : ''}">
                                    <a class="page-link" href="#">Next »</a>
                                    </li>`;

                            pagination.append(prevButton);

                            // Create page number buttons
                            for (let i = 0; i < totalPages; i++) {
                                const activeClass = i === page ? 'active' : '';
                                const pageButton = `<li class="page-item ${activeClass}"><a class="page-link" href="#">${i + 1}</a></li>`;
                                pagination.append(pageButton);
                            }

                            pagination.append(nextButton);
                            // Gắn sự kiện khi nhấn nút phân trang
                            $('.page-link').on('click', function (e) {
                                e.preventDefault();

                                const selectedPage = $(this).text().trim();

                                if (selectedPage === '« Trước') {
                                    if (page > 0) loadUser(page - 1); // Go to previous page
                                } else if (selectedPage === 'Sau »') {
                                    if (page < totalPages - 1) loadUser(page + 1); // Go to next page
                                } else {
                                    loadUser(parseInt(selectedPage) - 1); // Go to specific page
                                }
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error("Error fetching customers:", error);
                            alert("Không thể tải dữ liệu khách hàng Vui lòng thử lại sau!");
                        }
                    })
                }
            }

            // Xử lý sự kiện tìm kiếm
            $('#searchForm').on('submit', function (e) {
                e.preventDefault(); // Ngăn form reload trang
                const keyword = $('#keyword').val().trim();
                if (keyword !== "") {
                    currentPage = 0; // Reset về trang đầu tiên
                    loadUser(currentPage, keyword); // Gọi API với từ khóa tìm kiếm
                }
            });

            // Tải trang đầu tiên khi trang được load
            loadUser(currentPage);
        })
    </script>
    </body>
</div>
</html>