<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<div class="row" layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <title>Quản lý đơn hàng</title>
        <style>
            /* CSS tùy chỉnh cho nút Khóa tài khoản */
            .btn-danger.custom-hover {
                background-color: #dc3545; /* Màu đỏ */
                border-color: #dc3545; /* Viền màu đỏ */
                color: #fff; /* Chữ màu trắng */
            }

            /* Hiệu ứng hover */
            .btn-danger.custom-hover:hover {
                background-color: #444444; /* Màu xám khi hover */
                border-color: #444444; /* Viền màu xám khi hover */
                color: #fff; /* Chữ giữ nguyên màu trắng */
            }
        </style>
    </head>
    <body>
    <div class="container mt-4">
        <h1 class="text-center">Danh sách đơn hàng</h1>

        <!-- Tìm kiếm và lọc -->
        <form id="searchForm" class="d-flex justify-content-between mb-3">
            <!-- Trường nhập từ khóa tìm kiếm -->
            <input type="text" id="keyword" name="search" class="form-control me-2" placeholder="Nhập mã đơn hàng">
            <!-- Dropdown chọn trạng thái -->
            <select id="status" name="status" class="form-select me-2">
                <option value="">Tất cả</option>
                <option value="CANCELED">Đã huỷ</option>
                <option value="DELIVERING">Đang giao</option>
                <option value="DELIVERIED">Đã giao</option>
            </select>
            <!-- Nút tìm kiếm -->
            <button type="submit" class="search-btn"
                    style="background-color: #444444; color: white; border: none; padding: 10px; cursor: pointer; width: 40px; height: 40px; border-radius: 0;"
                    onmouseover="this.style.backgroundColor='#d8373e';"
                    onmouseout="this.style.backgroundColor='#444444';">
                <i class="fa fa-search"></i>
            </button>
        </form>

        <!-- Bảng danh sách đơn hàng -->
        <table class="table table-bordered table-striped text-center" id="orderTable">
            <thead class="table-custom-header">
            <tr>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle; " scope="col">STT</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle; " scope="col">Mã đơn hàng</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle; " scope="col">Ngày đặt</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle; " scope="col">Tên khách hàng</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle; " scope="col">Giá trị đơn hàng</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle; " scope="col">Trạng thái</th>
                <th style="border: 3px solid black;text-align: center; vertical-align: middle; " scope="col">Thông tin chi tiết</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center" id="pagination">
                <!-- Nút phân trang sẽ được tạo động -->
            </ul>
        </nav>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            const token = localStorage.getItem('jwtToken');
            const pageSize = 10; // Số lượng mục mỗi trang
            let currentPage = 0; // Trang hiện tại

            function loadOrders(page, keyword = "", status = "") {
                console.log(status)
                var url = `/api/orders?page=${page}&size=${pageSize}`
                if (keyword !=="") url = `/api/orders/search/${keyword}?page=${page}&size=${pageSize}`
                if (status !=="") url = `/api/orders/search/${status}?page=${page}&size=${pageSize}`

                console.log(url)

                if (token) {
                    $.ajax({
                        url: url,
                        type: 'GET',
                        headers: {
                            'Authorization': `Bearer ${token}`
                        },
                        success: function (response) {
                            const {content: orderList, totalPages} = response;
                            var tableBody = $('#orderTable tbody');
                            const pagination = $('#pagination');

                            // Xóa dữ liệu cũ
                            tableBody.empty();
                            pagination.empty();
                            if (orderList.length === 0) {
                                // Nếu không có dữ liệu, hiển thị dòng thông báo
                                tableBody.append('<tr><td colspan="8" class="text-center">Không có khách hàng nào!</td></tr>');
                            } else {
                                const shippingStatusMap = {
                                    NONDELIVERY: "Chưa giao",
                                    DELIVERING: "Đang giao",
                                    DELIVERIED: "Đã giao",
                                    CANCELED: "Đã hủy"
                                };
                                orderList.forEach(function (order, index) {
                                    const row = `
                                <tr data-id="${order.orderId}">
                                    <td>${index + 1}</td>
                                    <td>${order.orderId}</td>
                                    <td>${new Date(order.orderDate).toLocaleDateString("vi-VN")}</td>
                                    <td>${order.name}</td>
                                    <td>${order.totalAmount.toLocaleString("vi-VN", { style: "currency", currency: "VND" })}</td>
                                    <td>${shippingStatusMap[order.shippingStatus]}</td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <a href="/admin/orders/${order.orderId}" class="btn btn-danger custom-hover">Chi tiết</a>
                                    </td>
                                </tr> `;
                                    tableBody.append(row);
                                });
                            }
                            // Tạo nút phân trang
                            const prevButton = `<li class="page-item ${page === 0 ? 'disabled' : ''}">
                                    <a class="page-link" href="#">« Previous</a>
                                    </li>`;

                            const nextButton = `<li class="page-item ${page === totalPages - 1 ? 'disabled' : ''}">
                                    <a class="page-link" href="#">Next »</a>
                                    </li>`;

                            pagination.append(prevButton);

                            // Create page number buttons
                            for (let i = 0; i < totalPages; i++) {
                                const activeClass = i === page ? 'active' : '';
                                const pageButton = `<li class="page-item ${activeClass}"><a class="page-link" href="#">${i + 1}</a></li>`;
                                pagination.append(pageButton);
                            }

                            pagination.append(nextButton);
                            // Gắn sự kiện khi nhấn nút phân trang
                            $('.page-link').on('click', function (e) {
                                e.preventDefault();

                                const selectedPage = $(this).text().trim();

                                if (selectedPage === '« Trước') {
                                    if (page > 0) loadOrders(page - 1); // Go to previous page
                                } else if (selectedPage === 'Sau »') {
                                    if (page < totalPages - 1) loadOrders(page + 1); // Go to next page
                                } else {
                                    loadOrders(parseInt(selectedPage) - 1); // Go to specific page
                                }
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error("Error fetching order:", error);
                            alert("Không thể tải dữ liệu đơn hàng. Vui lòng thử lại sau!");
                        }
                    })
                }
            }

            // Xử lý sự kiện tìm kiếm
            $('#searchForm').on('submit', function (e) {
                e.preventDefault();

                const keyword = $('#keyword').val().trim();
                const status = $('#status').val();

                currentPage = 0; // Reset về trang đầu tiên
                loadOrders(currentPage, keyword, status); // Gọi API với từ khóa tìm kiếm và trạng thái
            });

            // Tải trang đầu tiên khi trang được load
            loadOrders(currentPage);
        })
    </script>



    </body>
</div>
</html>
